.carousel {
    position: relative;
    margin: auto;
    width: 100%;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 300px
}

.carousel-item {
    flex-shrink: 0;
    height: 100%
    object-fit: contain;
}

.carousel-item img {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.carousel-control {
    width: 40px;
    height: 40px;
    box-sizing: content-box;
    font-size: 32px;
    color: #fff;
    background-color: #9e9e9e80;
    border: none;
    padding: 10px 10px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control.prev {
    left: 0;
}

.carousel-control.next {
    right: 0;
}
