.carousel {
    top: 0;
    left: 0;
    position: center;
    margin: 0 2%;
    width: 6%;
    height: 10%;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    position: center;
    width: 10%;
    height: 10%;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    flex-shrink: 0;
    width: 10%;
    height: 10%;
}

.carousel-item img {
    width: 10%;
    height: 10%;
    object-fit: cover;
}

.carousel-control {
    width: 4px;
    height: 4px;
    box-sizing: content-box;
    font-size: 32px;
    color: #fff;
    background-color: #9e9e9e80;
    border: none;
    padding: 10px 10px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control.prev {
    left: 0;
}

.carousel-control.next {
    right: 0;
}
